@mixin common_style {
  border: 1px solid #000000;
  padding: 15px;
}

.site-wrapper {
  padding: 15px;
}

.site-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.app-header {
  text-align: center;
  background: #F5ECED;
  @include common_style();
  padding-top: 0;
  padding-bottom: 0;
  &__title {
    font-weight: 300;
    margin: 0;
  }
}

.settings {
  display: flex;
  @include common_style();
  &__name {
    margin-right: 15px;
  }
  &__digits {
    display: flex;
    justify-content: space-between;
  }
  &__right {
    padding-top: 2px;
  }
  &__element {
    width: 270px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  &__cell {
    text-align: center;
    @include common_style();
    &_num {
      width: 10%;
    }
    &_name {
      width: 30%;
    }
    &_lname {
      width: 30%;
    }
    &_age {
      width: 30%;
    }
  }
}
.app-footer {
  background: #F5ECED;
  display: flex;
  align-items: center;
  @include common_style();
  &__status {
    margin-right: 5px;
  }
  &__icon {
    height: 20px;
  }
}

.footer-icon {
  &__bg {
    fill: none;
  }
  &__heart {
    fill: #FF0000;
  }
}

.table-responsive {
  overflow-x: auto;
}

@media screen and (max-width: 480px) {
  .settings {
    flex-flow: row wrap;
    &__name {
      width: 100%;
      margin-right: 0;
      text-align: center;
    }
    &__right {
      margin: 0 auto;
    }
    &__digits {
      display: flex;
      justify-content: space-between;
      width: 270px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 360px) {
  .settings {
    &__element {
      width: 220px;
    }
    &__digits {
      width: 220px;
    }
  }
}
