<div class="site-wrapper">
  <div class="site-content">
    <header class="app-header">
      <h1 class="app-header__title">{{ title | translate }}</h1>
    </header>
    <main class="app-main">
      <div class="settings">
        <label class="settings__name" for="num_of_rows">{{ 'num_of_rows' | translate }}:</label>
        <div class="settings__right">
          <input class="settings__element"
                 type="range"
                 id="num_of_rows"
                 min="1"
                 max="{{ NUM_OF_ROWS }}"
                 [attr.disabled]="isLoading || null"
                 [(ngModel)]="numOfRows"
                 (change)="onRowsCountChanged()"
          >
          <div class="settings__digits">
            <span class="settings__start">1</span>
            <span class="settings__current">{{ 'current' | translate}}: {{ numOfRows }}</span>
            <span class="settings__end">{{ NUM_OF_ROWS }}</span>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tr class="table__row">
            <td class="table__cell table__cell_num">#</td>
            <td class="table__cell table__cell_name">{{ 'name' | translate }}</td>
            <td class="table__cell table__cell_lname">{{ 'last_name' | translate }}</td>
            <td class="table__cell table__cell_age">{{ 'age' | translate }}</td>
          </tr>
          <tbody class="table-body" (click)="onTableClickHandler($event)">
          <ng-container *ngIf="!isLoading">
            <tr class="table__row" *ngFor="let user of users; let i = index" [attr.data-index]="i">
              <td class="table__cell table__cell_num">{{ i + 1 }}</td>
              <td class="table__cell table__cell_name">{{ user.name }}</td>
              <td class="table__cell table__cell_lname">{{ user.last_name }}</td>
              <td class="table__cell table__cell_age">{{ user.age }}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </main>
    <footer class="app-footer">
      <span class="app-footer__status">{{ isLoading ? ('loading' | translate) : ('made_with' | translate) }}</span>
      <svg *ngIf="!isLoading" class="app-footer__icon footer-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21">
        <defs>
        </defs>
        <g id="Group_1" transform="translate(-533 -332)">
          <rect id="Rectangle_9" class="footer-icon__bg" width="21" height="21" transform="translate(533 332)"/>
          <g id="valentines-heart" transform="translate(533 300.448)">
            <g id="Icons_18_" transform="translate(0 32.952)">
              <path id="Path_1" class="footer-icon__heart" d="M21,38.623a5.666,5.666,0,0,0-10.5-2.962,5.666,5.666,0,1,0-8.553,7.231l8.036,8.036a.732.732,0,0,0,1.035,0l8.036-8.036A5.65,5.65,0,0,0,21,38.623Z" transform="translate(0 -32.952)"/>
            </g>
          </g>
        </g>
      </svg>
    </footer>
  </div>
  <template #dialogContainer></template>
</div>
