.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.dialog {
  position: absolute;
  width: 100%;
  max-width: 400px;
  background: #FFFFFF;
  border: 2px solid #000000;
  z-index: 200;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  &__body {
    padding: 8px;
  }
}

.dialog-body {
  display: flex;
  flex-flow: row wrap;
  &__left {
    width: 200px;
  }
  &__avatar {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
  }
  &__left, &__right {
    margin: 8px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-grow: 1;
  }
}

.dialog-prop {
  margin: 15px 0;
  &__key {
    font-weight: 600;
  }
}

@media screen and (max-width: 480px) {
  .dialog {
    max-width: none;
    width: auto;
    left: 15px;
    right: 15px;
    transform: translate(0, -50%);
  }
}
