<div class="dialog">
  <svg class="dialog__close" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
       width="612px" height="612px" viewBox="0 0 612 612"
       (click)="onCloseHandler()"
  >
    <g>
      <polygon points="612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397
          306,341.411 576.521,611.397 612,575.997 341.459,306.011 			"/>
    </g>
  </svg>
  <div class="dialog__body dialog-body">
    <div class="dialog-body__left">
      <img width="200" height="200" class="dialog-body__avatar"
           src="{{ user.image_url || DEFAULT_AVATAR }}" alt="{{ user.name }} {{ user.last_name }}">
    </div>
    <div class="dialog-body__right">
      <div class="dialog-prop">
        <div class="dialog-prop__key">{{ 'name' | translate }}</div>
        <div class="dialog-prop__value">{{ user.name }}</div>
      </div>
      <div class="dialog-prop">
        <div class="dialog-prop__key">{{ 'last_name' | translate }}</div>
        <div class="dialog-prop__value">{{ user.last_name }}</div>
      </div>
      <div class="dialog-prop">
        <div class="dialog-prop__key">{{ 'age' | translate }}</div>
        <div class="dialog-prop__value">{{ user.age }}</div>
      </div>
    </div>
  </div>
</div>
<div class="overlay" (click)="onCloseHandler()"></div>
